@font-face {
  font-family: RampartOne-Regular;
  src: url(/src/assets/Font/Rampart_One/RampartOne-Regular.ttf);
}

.card {
  background-color: transparent;
  border: 2px solid rgba(7, 7, 7, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px); /* soportado en safari y firefox */
  font-family: RampartOne-Regular;
  width: 13em;
  height: 16em;
  border-radius: 15px 0 15px 15px;
  overflow: hidden;
  margin: 1em;

  position: relative;
 box-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.card::after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
}

.card img {
  border-radius: 15px;
  top: 20%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  transition: 0.4s;
  margin-bottom: 50px;
  transform-style: preserve-3d;
}

.card:hover img {
  transform: rotateY(180deg);
}

.name {
  color: rgb(20, 197, 20);
  font-size: 1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.412);
}

.speciesYGenero {
  justify-content: baseline;
  color: white;
  font-size: 0.9rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.412);
}

.cardButton {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  background-color: transparent;
  color: #fff;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.1s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
}

.cardButton:hover {
  background-color: #ff4d4d;
  transform: scale(1.5);
}


