.card {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  font-family: RampartOne-Regular;
  width: 13.5em; /* Establece el ancho de la card */
  height: 28em;
  border-radius: 0 20px 20px 20px;
  overflow: hidden;
  margin: 1em;
  position: relative;
  box-shadow: 20 0 10px rgba(86, 82, 82, 0.8);
}

.card img {
  border-radius: 15px;
  top: 50%;
  transform: translateY(-55%);
  z-index: 10000;
  width: 80%;
  transition: 0.5s;
  margin-bottom: 10px;
}

.card h2 {
  color: rgb(34, 53, 125);
  font-size: 1rem; /* Establece el tamaño de la fuente */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.412);
}

.speciesYGenero {
  color: rgb(240, 15, 15);
  font-size: 1rem; /* Establece el tamaño de la fuente */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.412);
}
